<div>
  <div>Chúng tôi đã nhận được yêu cầu thay đổi mật khẩu của bạn.</div>
  <br>
  <div>Sử dụng mã Otp bên dưới để tiếp tục thay đổi mật khẩu .</div>
  <br>
  {{#if otpCode}}
    <div>{{otpCode}}</div>
    <br>
  {{/if}}
  <div>Vui lòng không trả lời email này vì chúng tôi không thể thay đổi mật khẩu qua email này</div>
</div>